
<app-banner></app-banner>
<div class="l-content" style="margin:auto">
    <div class="pricing-tables pure-g" style="margin-left:30%">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <h2>Transactions</h2>
                </div>

                <button class="button-choose pure-button" a [routerLink]="['/blockchain']">Choose</button>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <h2>Explorer</h2>
                </div>
                <button class="button-choose pure-button"><a [href]="monitorUrl" target=“_blank”>Choose</a></button>
            </div>
        </div>
    </div> 
</div> 
