/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom :20px;
}

p {
    line-height: 1.6em;
}

.fa {
    color: #333333;
}


/*
 * -- BANNER --
 * The top banner on the login page. Uncomment the second background line to use a background image on the login page
 */
.banner {
    background: #EEEEEE;
    /* background: transparent url('https://upload.wikimedia.org/wikipedia/commons/d/d1/Blockchain_Illustration.jpg');
    */
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: #333333;

}

@media (min-width: 480px) {
    .banner {
        height: 400px;
    }
    .banner-head {
        font-size: 3em;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 200px;
    }
    .banner-head {
        font-size: 2em;
    }
}


/*
 * -- FOOTER --
 * We want a footer fixed at the bottom of all pages.
 */
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #EEEEEE;
    text-align: center;
  }
 